{% extends 'service/layout.html.twig' %}

{% block title %}Profile{% endblock %}


{% block header %}
    {% include 'header.html.twig' %}#}
{% endblock %}

{% block body %}
<body>
<div id="profile">
  <aside class="profile-aside">
    <div class="profile-pic">
      <img src="{{asset('img/profile_pics/') ~ photo}}" alt="profile icon" title="Your profile picture!">
    </div>
    <div class="sidebar-content">
      <div class="sidebar-content-text">
        <h4 class="user-name">{{firstName}} {{lastName}}</h4>
        <p class="job-title">{{title}}</p>
        <div class="user-location">
          {{city}}
        </div>
        <div class="user-languages">
          {{languages}}
        </div>
        <div class="user-about">
          <p>{{description}}</p>
        </div>
        <div class="details-list">
          <div class="details-list-ratings">
            <div class="star-rating"></div>
            <div class="total-rating">4.8</div>
            <div class="total-reviews">(24)</div>
          </div>
          <div class="member-cost">{{price}} &euro;<span>/hr</span></div>
        </div>
        <div class="contact-button">
          <a class="btn btn-contact" href="{{path('editProfile')}}">Redaguoti</a>
        </div>
        <div class="skills">
          <h4 class="job-title">Igudziai</h4>
          <ul>
            {% for item in skill %}
                  <li>{{item}}</li>
            {% endfor %}

          </ul>
        </div>
        <div class="user-statistics">
          <h4 class="job-title">Statistika</h4>
          <div class="times-worked">
            <div>
              <p>Ivykdyta darbu</p>
              <p>43</p>
            </div>
            <div>
              <p>Pirkta paslaugu</p>
              <p>10</p>
            </div>
            <div class="last-login">
              <p>Paskutinis prisijungimas</p>
              <p>{{time | date("Y.m.d")}}</p>
            </div>
        </div>
      </div>
      </div>
  </aside>
  <section>
    <article class="offers">
      <div class="user-review">
        <h4 class="user-reviews-title">Recenzijos</h4>
        <div class="reviews">
          <div class="review">
            <div class="project">
              <h6>
                <a class="project-title" href="">Project title</a>
              </h6>
              <a class="project-author" href="">Name <span>2019.05.07</span></a>
            </div>
            <div class="feedback">
              <div class="author-rating">
                <a class="project-author" href="">Name <span>2019.05.07</span></a>
                <div class="rating"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequatur vel quae, est accusamus commodi!</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
</body>
</html>

{% endblock %}
