{% extends 'service/layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}#}
{% endblock %}

{% block banner %}
<div class="banner-image" style="background: url('{{ asset(profile.getbannerphoto)}}')no-repeat center center/cover; height: 30vh; position: relative; margin-top: 35px;">
</div>
{% endblock %}

{% block body %}

    <div class="flash-message-custom">
      {% block message %}
      {% for message in app.flashes('notice') %}
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
      {% endfor %}
      {% endblock %}
    </div>

    <div id="profile">
        <aside class="profile-aside">
            <div class="sidebar-content">
              <div class="profile-pic">
                <img src="{{ asset(profile.getprofilephoto)}}" alt="profile icon"
                title="Your profile picture!">
              </div>
                <div class="sidebar-content-text">
                    <h4 class="user-name">{{ user.getfirstname }} {{ user.getlastname }}</h4>
                    <div class="user-location">
                        {{ profile.getcity }}
                    </div>
                    <div class="user-languages">
                        {{ profile.getlanguages }}
                    </div>
                    <div class="user-about">
                        <p>{{ profile.getdescription }}</p>
                    </div>
                    <div class="details-list">
                        <div class="details-list-ratings">
                            <div class="star-rating"></div>
                            <div class="total-rating"><i class="text-warning fas fa-star"></i> {{ rating }}</div>
                            <div class="total-reviews">({{ reviewsCount }})</div>
                        </div>
                        <div class="member-cost"> {{money[1]}} - {{money[0]}} &euro;<span>/hr (prašo/siūlo)</span> </div>
                    </div>
                    {% block profileButton %}

                        <div class="contact-button">
                            <a class="btn btn-contact" href="{{ path('editProfile') }}">Redaguoti</a>
                        </div>
                    {% endblock %}
                    <div class="skills">
                        <h4 class="job-title">Igūdžiai</h4>
                        <ul>
                            {% for item in profile.getskill | split(',') %}
                                <li>{{ item }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="user-statistics">
                        <h4 class="job-title">Statistika</h4>
                        <div class="times-worked">
                            <div>
                                <p>Ivykdyta darbų</p>
                                <p>{{services}}</p>
                            </div>
                            <div>
                                <p>Pirkta paslaugų</p>
                                <p>{{jobs}}</p>
                            </div>
                            <div class="last-login">
                                <p>Paskutinis prisijungimas</p>
                                <p>{{ user.getlastlogin | date("Y.m.d") }}</p>
                            </div>
                        </div>
                    </div>
                    {% block reportbutton %}{% endblock %}
                </div>
            </div>
        </aside>
        <section>
            <article class="offers">
                <div class="user-review">
                    <h4 class="user-reviews-title">Recenzijos</h4>
                    <div class="reviews">
                        <div class="review">
                            {% for review in reviews %}
                                <div class="project">
                                    <div class="author-rating">
                                        <a class="project-author"
                                           href="{{ path('otherUserProfile', {'userId': review.getEstimatorId.getId}) }}">{{ review.getEstimatorId.getfirstname ~ ' ' ~ review.getEstimatorId.getlastname }}
                                            <span>{{ review.getCreatedAt | date('Y/m/d') }}</span></a>
                                        <div class="rating">{{ review.getRating }}</div>
                                    </div>
                                    <p>{{ review.getComment }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paginator">
                      {{ knp_pagination_render(reviews) }}
                    </div>
                </div>
            </article>
        </section>

    </div>


{% endblock %}
