{% embed 'base.html.twig' %}

{% block title %}Profile{% endblock %}


{% block header %}
    {% include 'header.html.twig' %}#}
{% endblock %}

{% block banner %}
<div class="banner-image" style="background: url('{{ asset('build/images/bathroom.jpg') }}') no-repeat center center/cover; height: 30vh; margin-top: 45px;">
</div>
{% endblock %}

{% block body %}

    {% block message %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}

    <div id="profile">
        <aside class="profile-aside">
            <div class="profile-pic">
                <img src="{{ asset('img/profile_pics/') ~ profile.getprofilephoto }}" alt="profile icon"
                     title="Your profile picture!">
            </div>
            <div class="sidebar-content">
                <div class="sidebar-content-text">
                    <h4 class="user-name">{{ user.getfirstname }} {{ user.getlastname }}</h4>
                    <div class="user-location">
                        {{ profile.getcity }}
                    </div>
                    <div class="user-languages">
                        {{ profile.getlanguages }}
                    </div>
                    <div class="user-about">
                        <p>{{ profile.getdescription }}</p>
                    </div>
                    <div class="details-list">
                        <div class="details-list-ratings">
                            <div class="star-rating"></div>
                            <div class="total-rating">{{ rating | number_format(1) }}</div>
                            <div class="total-reviews">({{ reviewsCount }})</div>
                        </div>
                        <div class="member-cost">1000 &euro;<span>/hr</span></div>
                    </div>
                    {% block profileButton %}

                        <div class="contact-button">
                            <a class="btn btn-contact" href="{{ path('editProfile') }}">Redaguoti</a>
                        </div>
                    {% endblock %}
                    <div class="skills">
                        <h4 class="job-title">Igudziai</h4>
                        <ul>
                            {% for item in profile.getskill | split(',') %}
                                <li>{{ item }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="user-statistics">
                        <h4 class="job-title">Statistika</h4>
                        <div class="times-worked">
                            <div>
                                <p>Ivykdyta darbu</p>
                                <p>43</p>
                            </div>
                            <div>
                                <p>Pirkta paslaugu</p>
                                <p>10</p>
                            </div>
                            <div class="last-login">
                                <p>Paskutinis prisijungimas</p>
                                <p>{{ user.getlastlogin | date("Y.m.d") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section>
            <article class="offers">
                <div class="user-review">
                    <h4 class="user-reviews-title">Recenzijos</h4>
                    <div class="reviews">
                        <div class="review">
                            {% for review in reviews %}
                                <div class="project">
                                    <div class="author-rating">
                                        <a class="project-author"
                                           href="{{ path('otherUserProfile', {'id': review.getEstimatorId.getUserProfile.getId}) }}">{{ review.getEstimatorId.getUsername }}
                                            <span>{{ review.getCreatedAt | date('Y/m/d') }}</span></a>
                                        <div class="rating">{{ review.getRating }}</div>
                                    </div>
                                    <p>{{ review.getComment }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {{ knp_pagination_render(reviews) }}
                </div>
            </article>
        </section>

    </div>


{% endblock %}
{% endembed %}
