<h3 class="text-center">Darbų sąrašas</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Sukurta</th>
            <th>Galioja iki</th>
            <th>Vartotojas</th>
            <th>Veiksmai</th>
          </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td data-toggle="tooltip" title="{{ job.title }}">{{ job.title|slice(0,55) }}</td>
                <td>{{ job.created_at|date('Y-m-d') }}</td>
                <td>{{ job.date_end|date('Y-m-d') }}</td>
                <td><a href="{{ path('otherUserProfile', {'userId': job.user_id} ) }}">{{ job.first_name }} {{ job.last_name }}</a> ({{ job.username }})</td>
                <td>
                    <a onclick="return confirm('Ar tikrai norite ištrinti? Tai gali pakenkti kitiems įrašams'); " class="text-danger" href="{{ path('admin_job_delete', {'id': job.id}) }}">
                        Ištrinti
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>