<h3 class="text-center">Darbų sąrašas</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Sukurta</th>
            <th>Galioja iki</th>
            <th>Vartotojas</th>
          </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.created_at|date('Y-m-d') }}</td>
                <td>{{ job.date_end|date('Y-m-d') }}</td>
                <td><a href="{{ path('otherUserProfile', {'userId': job.user_id} ) }}">{{ job.first_name }} {{ job.last_name }}</a> ({{ job.username }})</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>