{% extends 'layout/layout-fluid-container.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block landing %}
    <div class="container-fluid">
        <div class="row landing main">
            <div class="center">
                <h2>&nbsp; NAMŲ <span>RUOŠA</span></h2>
                <h4>Čia tavo laisvas laikas ir žinios gali virsti
                    papildomomis pajamomis, o "neįveikiamas" darbas namuose - lengva ir greita užduotėle.</h4>
            </div>
            <div class="col-md-6 landing half left">
                <ul class="ch-grid mt-5">
                    <li>
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3>TRŪKSTA PAJĖGUMŲ?</h3>
                                <p>YRA kas gali padėti<a href="{{ path('jobAdd') }}">Užregistruok savo darbelį</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <p>Namuose - tiek darbų, kad neužtektų viso gyvenimo? Nepatikėsi, kiek žmonių norėtų tau padėti. Prisijunk ir įsitikink!</p>
                <div class="text-right mt-5">
                    <a href="{{ path('job_pot_matches') }}">
                        <button class="btn btn-lg btn-warning">Ieškoti PASLAUGŲ</button></a>
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <h6 class="mt-5">Dar neprisiregistravai?</h6>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <h5>Registruoti naują vartotoją</h5>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 landing half right">
                <ul class="ch-grid mt-5">
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info">
                                <h3>Turi laisvo laiko?</h3>
                                <p>Nešvaistyk jo veltui <a href="{{ path('serviceAdd') }}">Žmonėms reikia tavo pagalbos</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <p>Turi laisvo laiko ir norėtum paversti jį pinigais? Prisijunk prie mūsų bendruomenės ir atrask įvairių būdų save realizuoti.</p>
                <div class="text-left mt-5">
                    <a href="{{ path('service_pot_matches') }}">
                        <button class="btn btn-lg btn-info">Peržvelgti DARBUS</button></a>
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <h6 class="mt-5">Dar neprisiregistravai?</h6>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <h5>Registruoti naują vartotoją</h5>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
