
<h5 class="text-info">Paieška pagal: " {{ servicesBySearchTitle[0] }} nuo {{ servicesBySearchTitle[1] }} iki {{ servicesBySearchTitle[2] }} "</h5>
<table class="table mb-5">
    <tr>
        <th>Pavadinimas</th>
        <th>Laikas nuo</th>
        <th>Laikas iki</th>
        <th>Kategorijos</th>
        <th>Koordinatės</th>
        <th></th>
    </tr>
    {% for service in servicesBySearchTitle[3] %}
        <tr>
            <td>{{ service.title }}</td>
            <td>{{ service.activeTimeStart|date('H:i:s') }}</td>
            <td>{{ service.activeTimeEnd|date('H:i:s') }}</td>
            <td>
                {%  if service.transport %}
                    Transportas,
                {% endif %}
                {%  if service.education %}
                    Mokymai,
                {% endif %}
                {%  if service.education %}
                    Valymo paslaugos,
                {% endif %}
            </td>
            <td>
                X: {{ service.coordinateX }}, Y: {{ service.coordinateY }}
            </td>
            <td>
                <a href="{{ path('showMatch', {'id': service.id}) }}"><button class="btn btn-sm btn-info">Peržiūrėti</button></a>
            </td>
        </tr>

    {% endfor %}
</table>
