<h3>Jūsų užklausą atitinkanti paslauga</h3>
<p>Jeigu norite susisiekti su paslaugos autorium - spauskite MATCH</p>

<table class="table">
    <tr>
        <th>Aprašymas</th>
        <th>Laikas nuo</th>
        <th>Laikas iki</th>
        <th>Kategorijos</th>
        <th>Koordinatės</th>
        <th></th>
    </tr>
        <tr>
            <td>{{ service[0].description }}</td>
            <td>{{ service[0].activeTimeStart|date('H:i:s') }}</td>
            <td>{{ service[0].activeTimeEnd|date('H:i:s') }}</td>
            <td>
                {%  if service[0].transport %}
                    Transportas,
                {% endif %}
                {%  if service[0].education %}
                {#{%  if service.firstname %}#}
                    Mokymai,
                {% endif %}
                {%  if service[0].education %}
                    Valymo paslaugos,
                {% endif %}
            </td>
            <td>
                X: {{ service[0].coordinateX }}, Y: {{ service[0].coordinateY }}
            </td>
            <td>
                <button class="btn btn-sm btn-success">MATCH</button>
            </td>
        </tr>

    {#<h1>{{ service.username }}</h1>#}

</table>