{% extends "layout/layout-fluid-container.html.twig" %}

{% block body %}
    <div class="row ">
        <div class="jobWrapper container-under-fixednav">
            <div class="page-title-elipse">
                <h2>NAUJAS DARBAS</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    {{ form_start(form, {'method': 'post', 'action': path('jobAdd'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.category) }}
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.budget) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.payType) }}
                            </div>
                        </div>
                        {{ form_row(form.upload) }}
                        {{ form_row(form.dateEnd) }}
                        {{ form_row(form.address) }}

                    </div>
                    <div class="col-md-12">
                        {% include '/_map/map_divs.html.twig' %}
                    </div>
                    <div class="col-md-6 offset-md-3 mt-5">
                        <input type="submit" class="btn btn-info btn-lg btn-block" value="Sukurti Darbą"/>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/_map/map_js.html.twig' %}
{% endblock %}