<div class="pot-matches-wrapper container">
    <div class="table-responsive">
        <table class="table">
            <tr class="stucco">
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Kategorijos</th>
                <th>Kaina</th>
                <th>Redaguoti</th>
            </tr>
            {% for job in jobs %}
                <tr class="pot-match-odd-even">
                    <td>{{ job.title }}</td>
                    <td>{{ job.description }}</td>
                    <td>
                        {% for cat in job.category %}
                            {{ cat.name }},
                        {% endfor %}
                    </td>
                    <td>{{ job.budget }} Eur</td>
                    <td>
                        <a href="{{ path('jobEdit', {'id': job.id }) }}">
                            <button class="btn btn-link">Keisti</button>
                        </a>
                        <a href="{{ path( 'jobDelete' , { 'jobId' : job.id } ) }}">
                            <button class="btn btn-sm btn-danger">Šalinti</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
