<h5 class="text-muted">Mano darbas: <span class="text-danger"> <b>{{ matchesByJob[0].title }}
    </b></span></h5>
<table class="table table-lg table-hover mb-5">
    {% for service in matchesByJob[1] %}
        <tr>
            <td class="py-4" style="width: 70%">
                <h4 class="text-info">{{ service.title }}</h4>
                <div class="mb-1">{{ service.description }}</div>
                <div class="text-muted small pb-2">
                    <a href="#"><i class="fa fa-user"></i> {{ service.userId.username }}</a>
                    <i class="fa fa-clock ml-3"></i> Paskelbta {{ service.updatedAt|date('y.m.d') }}
                    <i class="fa fa-map-marker-alt ml-3"></i> Atstumas {{ service.distance }} km
                    <div class="d-inline-block  ml-3">
                        {% for cat in service.category %}
                            <span class="badge badge-warning">{{ cat.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td class="text-right">
                <h4 class="text-info text-right">{{ service.pricePerHour }} <i class="fa fa-euro-sign fa-xs"></i> / val.
                </h4>
                <a href="{{ path('match_job_create', { 'callerJobId': matchesByJob[0].id, 'responderServiceId': service.id }) }}">
                    <button class="btn btn-sm btn-success"> Siūlyti darbą</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
