<li class="nav-item dropdown">
    <a class="nav-link text-danger" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-lock"></i>
        Admin <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
        <a class="dropdown-item" href="{{ path('admin_users') }}">
            Vartotojai
        </a>
        <a class="dropdown-item" href="{{ path('admin_jobs') }}">
            Darbai
        </a>
        <a class="dropdown-item" href="{{ path('admin_services') }}">
            Paslaugos
        </a>
        <a class="dropdown-item" href="{{ path('admin_matches') }}">
            Subendrinti darbai
        </a>
        <a class="dropdown-item" href="{{ path ('admin_categories') }}">
            Kategorijos
        </a>
    </div>
</li>