{% extends 'layout/layout-container.html.twig' %}

{% block body %}

<div class="profile-form-rate">
    <div class="profile-headers">
      <h6 class="edit-profile-h6">Įvertinkite vartotoją!</h6>
    </div>
    {{form_start(form,  {'method': 'post', 'action': path('reviewProfile', {'userId': userId})})}}
    {{form_widget(form.comment, {'attr': {'class': 'profile-form-textarea', 'placeholder': 'Jūsų nuomonė apie vartotoją', 'cols': '80', 'rows': '5'}}) }}
    <div class="rating-star">
      {{form_widget(form.rating) }}
    </div>
    <div class="recaptcha-container">
      <div class="recaptcha">
        {{form_widget(form.recaptcha, { 'attr': {
        'options' : {
          'theme': 'light',
          'type': 'image',
          'size': 'normal'
    },
} })}}
      </div>
    </div>
    <input class="btn btn-submit-review" type="submit">
    {{form_end(form)}}


    </div>
</div>
{% endblock %}
