<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}NAMŲ RUOŠA{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
          <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock %}

    </head>

    <body>

    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}

    {% block banner %}
    {% endblock %}

    {#<div class="container container-under-fixednav">#}
        {% block layout_wrapper %}
        {% endblock %}
    {#</div>#}

    {% block landing %}
    {% endblock %}

    {% block footer %}
{#        {% include 'foooter.html.twig' %}#}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="{{ asset('js/circles/modernizr.custom.79639.js') }}"></script>


    {% endblock %}

    </body>
</html>
