<h3 class="text-info">Sandoriai pagal mano darbus</h3>

<table class="table mb-5">
    <tr>
        <th style="width: 10%">Data</th>
        <th style="width: 25%">Mano darbas</th>
        <th style="width: 30%">Sutarta paslauga</th>
        <th style="width: 15%">Paslaugos tiekėjas</th>
        <th style="width: 10%">Statusas</th>
        <th></th>
    </tr>
    {% for match in myCalls %}
        <tr>
            <td>{{ match.createdAt|date('Y.m.d') }}</td>
            {% if match.callerJobId %}
                <td>{{ match.callerJobId.description }}</td>
                {% else %}
                <td></td>
            {% endif %}
            <td>{{ match.responderServiceId.title }}</td>
            <td>{{ match.responderId }}</td>
            <td>
                {% if match.acceptedAt %}
                    <span class="text-success">Patvirtinta {{ match.acceptedAt|date('Y.m.d') }}</span>
                    {% set responded = 1 %}
                {% elseif match.rejectedAt %}
                    <span class="text-danger">Atmesta {{ match.rejectedAt|date('Y.m.d') }}</span>
                    {% set responded = 1 %}
                {% elseif match.cancelledAt %}
                    <span class="text-muted">Atšaukta {{ match.cancelledAt|date('Y.m.d') }}</span>
                    {% set responded = 1 %}
                {% else %}
                    <span>Neatsakė</span>
                    {% set responded = 0 %}
                {% endif %}
            </td>
            <td>
                {% if responded is same as(0) %}
                    <a href="{{ path('matchUpdate',
                        {'updateType':'cancel', 'matchId': match.id }) }}">
                        <button class="btn btn-sm btn-danger">Atšaukti</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>


<h3 class="text-info">Manęs klausia</h3>

{#<table class="table mb-5">#}
    {#<tr>#}
        {#<th style="width: 10%">Data</th>#}
        {#<th style="width: 25%">Mano skelbimas</th>#}
        {#<th style="width: 30%">Kolegos skelbimas</th>#}
        {#<th style="width: 15%">Kolega</th>#}
        {#<th style="width: 10%">Statusas</th>#}
        {#<th></th>#}
    {#</tr>#}
    {#{% for call in callsToMe %}#}
        {#<tr>#}
            {#<td>{{ call.createdAt|date('Y.m.d') }}</td>#}
            {#<td>{{ call.responderServiceId.title }}</td>#}
            {#<td >{{ call.callerServiceId.description }}</td>#}
            {#<td>{{ call.callerId }}</td>#}
            {#<td>#}
                {#{% if call.acceptedAt %}#}
                    {#<span class="text-success">Patvirtinta {{ call.acceptedAt|date('Y.m.d') }}</span>#}
                    {#{% set responded = 1 %}#}
                {#{% elseif call.rejectedAt %}#}
                    {#<span class="text-danger">Atmesta {{ call.rejectedAt|date('Y.m.d') }}</span>#}
                    {#{% set responded = 1 %}#}
                {#{% elseif call.cancelledAt %}#}
                    {#<span class="text-muted">Atšaukta {{ call.cancelledAt|date('Y.m.d') }}</span>#}
                    {#{% set responded = 1 %}#}
                {#{% else %}#}
                    {#Neatsakyta#}
                    {#{% set responded = 0 %}#}
                {#{% endif %}#}
            {#</td>#}
            {#<td class="text-center">#}
                {#{% if responded is same as(0) %}#}
                    {#<a href="{{ path('matchUpdate',#}
                        {#{'updateType':'accept', 'matchId': call.id }) }}">#}
                        {#<button class="btn btn-sm btn-success mb-2">Sutikti</button>#}
                    {#</a>#}
                    {#<a href="{{ path('matchUpdate',#}
                        {#{'updateType':'reject', 'matchId': call.id }) }}">#}
                        {#<button class="btn btn-sm btn-danger">Atmesti</button>#}
                    {#</a>#}
                {#{% endif %}#}
            {#</td>#}
        {#</tr>#}
    {#{% endfor %}#}
{#</table>#}
