<h3 class="text-info">Jūsų užklausą atitinkanti paslauga</h3>
<p class="text-muted">Jeigu norite susisiekti su paslaugos autorium - spauskite MATCH</p>

<table class="table">
    <tr>
        <th>Aprašymas</th>
        <th>Laikas nuo</th>
        <th>Laikas iki</th>
        <th>Kategorijos</th>
        <th>Koordinatės</th>
        <th></th>
    </tr>
        <tr>
            <td>{{ responder.description }}</td>
            <td>{{ responder.activeTimeStart|date('H:i') }}</td>
            <td>{{ responder.activeTimeEnd|date('H:i') }}</td>
            <td>
                {%  if responder.transport %}
                    Transportas,
                {% endif %}
                {%  if responder.education %}
                    Mokymai,
                {% endif %}
                {%  if responder.education %}
                    Valymo paslaugos,
                {% endif %}
            </td>
            <td>
                X: {{ responder.coordinateX }}, Y: {{ responder.coordinateY }}
            </td>
            <td>
                <a href="{{ path('matchCreate', {'responderServiceId' : responder.id, 'callerServiceId' : caller.id}) }}"><button class="btn btn-sm btn-success">MATCH</button></a>
            </td>
        </tr>
</table>