{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="fos_login-wrapper">
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Prisijunkite</h1>
        <div class="mb-3">
            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" placeholder="Prisijungimo vardas" type="text" id="username" name="_username"  required="required" autocomplete="username" />
            {#value="{{ last_username }}"#}
            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" placeholder={{ 'security.login.password'|trans }} type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>

        <div class="checkbox mb-3 text-center">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <br>
        <p>Neturite paskyros? <a href="{{path('fos_user_registration_register')}}">Registruotis</a></p>
    </form>
</div>
