<li class="nav-item">
    <a class="navbar-item" href="{{ path('serviceAdd') }}">
        <button class="btn btn-info d-none d-{{ navbar_break_point }}-block">
            <i class="fas fa-pencil-alt"></i> Nauja paslauga
        </button>
        <span class="nav-link text-service d-{{ navbar_break_point }}-none">
                <i class="fas fa-pencil-alt"></i> Nauja paslauga
        </span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path ('service_pot_matches') }}">
        <span class="text-service"><i class="fas fa-search"></i> Ieškoti darbų</span>
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link text-service" href="#" id="myworkDropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-concierge-bell"></i> Mano paslaugos <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="myworkDropdownMenuButton">
        <a class="dropdown-item mb-0" href="{{ path ('match_by_services') }}">
            <span class="text-info">SANDORIAI</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item mb-0" href="{{ path ('my_services') }}">
            <span class="text-info">SKELBIMAI </span>
        </a>
    </div>
</li>